body {
    margin:0 ;
    text-align:center;
    font-size:1.25em;
    font-family: 'Courgette', cursive;
    background-color: #e8ffff;
    
}

h1 {
    margin: 50px auto 0 auto;
    font-size:5.625rem;
    font-family: 'Pacifico', cursive;
    color: #66BFBF
} 


.top-container {
    
    background-color:#e8ffff;
    position:relative;
    padding-top:100px; 
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;

}



h2, h5{
    font-family: 'Pacifico', cursive;
    color:#66BFBF;
    
}

h3 {
    font-family: 'Pacifico', cursive;
}


a , h3 {
    color: #11999E;
}
 
#pic {
    width: 20rem ;
    height: auto; 
    padding-top:70px;
    margin: 50px auto 80px auto ;
    
}

#hobbies  {
    width: 25rem;
    height: auto;
    margin: 100px auto 80px auto ;

    
}

.middle-container  {
    
    margin-bottom: 100px;

    
}




.skills   {
    margin: 100px auto 50px auto ; 
    width:30rem;
    height:20rem;
    border-radius: 25px; 
    line-height:1,5;

}

.contact-me {
    margin-top: 2350px;
}

.motivation   {
    margin: 100px auto 50px auto ; 
    width:30rem;
    height:20rem;
    border-radius: 25px; 

}


.bottom-cloud {
    position:absolute;
    top: 60%;
    left:25%;

}

.top-cloud {
    position:absolute;
    top:10%;
    right:15%; }



hr {
    margin:100px auto 100px auto;
    width: 10%;
    border-color:gray;
    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
        
}



button {
    background-color:#66BFBF;
    border-radius: 5px;
}

button:hover {
    background-color: #9ad3bc;
}

.bottom-container p {
    color: white;
    margin-bottom: 0;
    font-size:20px;
    padding: 15px;
    position:relative;
    top: 15px;
}

.bottom-container a {
    position:relative;
    top: 25px;
    margin:20px;
    text-decoration: none;
    
}

a:hover {
    color: #9ad3bc;
    
}

.bottom-container {
    background-color:#66BFBF;
    margin-bottom: 0;
    height: 150px;
}