 body {
    margin:0 ;
    text-align:center;
    font-size:1.25em;
    font-family: 'Courgette', cursive;
    background-color: #e8ffff;
    
}

h1 {
    margin: 50px auto 0 auto;
    font-size:5.625rem;
    font-family: 'Pacifico', cursive;
    color: #66BFBF
} 

h2, h5{
    font-family: 'Pacifico', cursive;
    color:#66BFBF;
    
}

h3 {
    font-family: 'Pacifico', cursive;
}


a , h3 {
    color: #11999E;
}
 
.top-container {
    background-color:#e8ffff;
    position:relative;
    padding-top:100px; 
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
}

.middle-container {
line-height:1,5;
}



.text {
    padding:5%; 
    margin-left: 25%;
    margin-right: 25%;
}

.my-pic {
    margin:5%;
}

.skills-pic  {
    border-radius: 25px; 
    width:30rem;
    margin:4%;
}

.hobbies-pic {
    width:25rem;
    margin:4%;
}

.motivation-pic   {
    border-radius: 25px; 
    width:30rem;
    margin:4%;
}

/* ##################################################### */

.bottom-cloud {
    position:absolute;
    top: 60%;
    left:25%;

}

.top-cloud {
    position:absolute;
    top:10%;
    right:15%; }



hr {
    margin:100px auto 100px auto;
    width: 10%;
    border-color:gray;
    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
        
}



button {
    background-color:#66BFBF;
    border-radius: 5px;
    margin-top:3%;
}

button:hover {
    background-color: #9ad3bc;
    
}

.bottom-container p {
    color: white;
    margin-bottom: 0;
    font-size:20px;
    padding: 15px;
    position:relative;
    top: 15px;
}

.bottom-container a {
    position:relative;
    top: 25px;
    margin:20px;
    text-decoration: none;
    
}

a:hover {
    color: #9ad3bc;
    
}

.bottom-container {
    background-color:#66BFBF;
    margin-top:7%;
    height: 150px;
} 

@media (max-width: 768px) {

    .my-pic {
        width:50%;
        margin:10%;
    }
    
    .skills-pic  {
        width:50%;
    }
    
    .hobbies-pic {
        width:50%;
    }
    
    .motivation-pic   {
        width:50%;
    }
 
  .mountain {
   width:30%; 
 }
 
 .name {
     font-size:50%;
    }
    
    }
